/* nav ul{height:200px; width:18%;}
nav ul{overflow:hidden; overflow-y:scroll;}
 */





 .container {
    scroll-snap-type: y mandatory;
    height: 96px;
    overflow-y: scroll;
  }
  
  .child {
    scroll-snap-align: start;
  }
  li{
      height: 30px;
      border: 1px solid black;
  }
li:nth-child(2n) {
  background-color: skyblue;
}




  /* ul {
  padding-left: 0;
}

ul li {
  background-color: pink;
  margin-bottom: 20px;
  list-style: none;
  text-align: center;
  color: #fff;
  font-size: 100px;
  padding: 100px 0;
}

/* 짝수, 홀수 색상 구분하기 위해 */
